h1, h2, h3 {
    text-align: center;
}

.pure-g, .pure-table, .pure-table-bordered{
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

.weather, .avalanche{
    border-bottom: 1.5px solid black
}

.weathergraph, .avyproblem, .dangerratings, .avytitle{
    border-bottom: 1px dashed darkgray;
}

.avytitle p{
    text-align: center;
}

.dangerratings h4{
    text-align: center;
}