/* Global / Forecast */

h1, h2, h3, .dangerratings h4, .avytitle p, .weathergraph, .button-block {
    text-align: center;
}

table { 
    width: 70%;
    border-collapse: collapse;
}

.pure-g, .pure-table, .pure-table-bordered{
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

.snow_summary, .avy_summary {
    text-align: left;
    padding: 0.5em;
}

.avy_summary {
    border-bottom: 1px dashed darkgray;
}

.avalanche{
    border-bottom: 1px solid black
}

.weathergraph, .avyproblem, .dangerratings, .confidence, .highlights{
    border-bottom: 1px dashed darkgray;
}

.weathergraph, .avyproblem, .confidence, .highlights, .weather_summary{
    padding: 0.5em;
}

.button-block{
    margin-bottom: 16px;
}

.l-box {
    padding: 0px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 568px) {
    .avy_summary{
        border-right: 1px dashed darkgray;
    }
    .l-box {
        padding: 2em;
        max-width: 65%;
    }
}

/* Footer */

@media (min-width: 568px) {
    .home-btn {
        float:left;
    }
}
.copyright, .mail, .home {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle !important;
    text-align: center;
    margin: auto 0 auto 0;
    padding: 4px 0px;
}

a {
    color: black;
    text-decoration: none;
}

/* Sticky footer */
.footer {
    flex-shrink: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper{
    flex: 1 0 auto;
    border-bottom: 1px solid black
}