<!--Inherit from base template-->
{%extends 'base.html'%}
<!--Body-->
{%block content%}
    <h1> {{header}} </h1>
    <div class = "weather">
        <div class ="weathergraph">
            <h2>Weather Graphs</h2>
            <div class= "button-block">
                <button class="pure-button" onclick="show_forecast()">Hide/Show Forecast</button>   
                <button class="pure-button" onclick="show_historical()">Hide/Show Historical</button>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div id="48H" align="center">
                        <h3>48H Forecast</h3>
                        {{forecast_plot | safe}}
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div id="72H" align="center">
                        <h3>72H Historical</h3>
                        {{historical_plot | safe}}
                    </div>
                </div>
            </div>
            <p>Model(s) elevation: {{elevation}}</p>
        </div>
        {{summary[3] | safe}}
    </div>
    <div class = "avalanche">
        <div class ="avytitle">
            <h2> Avalanche Forecast</h2>
            <p>{{date_issued}}</p>
        </div>
        <div class="dangerratings">
            <h3>Danger Ratings:</h3>
            <div class="pure-g">
            <!--Day1-->
                <div class="pure-u-1-3">
                    <div class="l-box">
                        {{avy_danger[0][0] | safe}}
                        <table class="pure-table pure-table-bordered" id="day1">
                        {% for key, value in avy_danger[1][0].items() %}
                            <tr>
                                <td class="elev"> {{ key }} </td>
                                <td class="danger"> {{ value }} </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            <!--Day2-->
                <div class="pure-u-1-3">
                    <div class="l-box">
                        {{avy_danger[0][1] | safe}}
                        <table class="pure-table pure-table-bordered" id="day2">
                        {% for key, value in avy_danger[1][1].items() %}
                            <tr>
                                <td class="elev"> {{ key }} </td>
                                <td class="danger"> {{ value }} </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            <!--Day3-->
                <div class="pure-u-1-3">
                    <div class="l-box">
                        {{avy_danger[0][2] | safe}}
                        <table class="pure-table pure-table-bordered" id="day3">
                        {% for key, value in avy_danger[1][2].items() %}
                            <tr>
                                <td class="elev"> {{ key }} </td>
                                <td class="danger"> {{ value }} </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div><br>
        </div>
        <h3>Problems:</h3>
        {% for problem in avy_problems %}
            <div class ="avyproblem">
                {{problem | safe}}
            </div>
        {% endfor %}
        <p><b>Confidence: </b> {{confidence}}
        <!--Summary-->
        {{summary[0] | safe}}
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="l-box">
                    {{summary[1] | safe}}
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="l-box">
                    {{summary[2] | safe}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Return Home-->
    <a href="{{ url_for('index') }}"><button class="pure-button"> Return Home </button></a>
{%endblock%}
<!--JS block-->
{%block javascript%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src = "{{ url_for('static', filename='table.js') }}"></script>
<script type="text/javascript" src = "{{ url_for('static', filename='graphs.js') }}"></script>
{%endblock%}