{%extends 'base.html'%}

{%block content%}
    <div class="pure-menu">
        <h2>Forecast Areas</h2>
        <ul class="pure-menu-list">
        {%for name in name_list%}
            <li class="pure-menu-item">
                <a href={{ url_for('forecast', area_name=name) }} class="pure-menu-link">{{name}}</a>
            </li>
        {%endfor%}
        </ul>
    </div>
{%endblock%}
{%block javascript%}
    <script type="text/javascript">
        src = "{{ url_for('static', filename='loading.js') }}"
    </script>
{%endblock%}